<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="FCI Web Blog" />
    <meta name="keywords" content="FCI, Web, Blog" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>FCI Web Astro - Blog</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	}
</style>
